<div class="admin container">
  <span class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ruleType}} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      {{#each ruleTypes as |type|}}
        <li>
          {{#link-to "admin.rules" (query-params ruleType=type)}}
            {{type}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </span>

  {{outlet}}
</div>
