<div class="overview_stat {{direction}}">
  <span class="overview_stat_number">{{format-number model}}</span>
  {{#if direction}}
    {{arrow-icon}}
  {{/if}}
</div>
<div class="overview_stat_scope">{{scope}}</div>
