<div class="overview_stat {{direction}}">
  <span class="overview_stat_number">{{model.current}}</span>
  <span class="icon_delta">
    {{#if direction}}
      {{arrow-icon}}
    {{/if}}
  </span>
</div>
<div class="overview_stat_scope">{{scope}}</div>
