<div class="overview-stat {{direction}}">
  <span class="overview-stat-number">{{format-number model}}</span>
  {{#if direction}}
    {{arrow-icon}}
  {{/if}}
</div>
<div class="overview-stat-scope">{{scope}}</div>
