<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        Terms
      </th>
      <th>
        Rule
      </th>
      {{#if session.isAdmin}}
        <th>
          Action
        </th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each rules as |rule|}}
      {{rule-row rule=rule delete="deleteRule"}}
    {{/each}}
  </tbody>
</table>
