<div class="admin container">
  <div class="page-header">
    <h1>Accounts</h1>
  </div>
  <div class="text-center">
    <div class="clearfix">
      <div class="form-group">
      <img src="images/icon-date.svg" width="34" class="date-icon item-inblock margin-r5" />
      <div class="date-filter item-inblock">
      {{bootstrap-datepicker
          class="calendar"
          orientation="top"
          autoclose=true
          value=atDate
          endDate=endsAt
      }}
    </div>
  </div>
</div>
</div>
  {{#if model.sources.length}}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          Source
        </th>
        <th>
          Total Jobs
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model.sources as |report|}}
      <tr>
        <td>
          {{report.source}}
        </td>
        <td>
          {{report.jobs}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  No results.
  {{/if}}

</div>
