<label>Terms</label>
<div class="form-group">
    {{term-input value="" action=(action "changeTerm" term.index) include="notUsed"}}
</div>
{{rule-area terms=terms}}
<label>Action</label>

<div class="radio">
  {{#radio-button
    value="replace"
    groupValue=rule.action}}
    Replace with
  {{/radio-button}}
  <div class="rule-replaceWith">
    {{term-input value=rule.replaceWith ruleType=rule.ruleType}}
  </div>
</div>
<div class="radio">
  {{#radio-button
    value="ignoreValue"
    groupValue=rule.action}}
    Ignore value
  {{/radio-button}}
</div>
<div class="radio">
  {{#radio-button
    value="ignoreJob"
    groupValue=rule.action}}
    Ignore job
  {{/radio-button}}
</div>
