<div class="container admin">
  <div class="page-header">
    <h1>Set Password</h1>
  </div>

  <form {{action "setPassword" email password on="submit"}}>
    <div class="form-group">
      <label>
        Password
        {{input type="password" class="form-control" value=password}}
      </label>
    </div>
    <button type="submit" class="btn btn-default">Set Password</button>
  </form>

  {{#if done}}
    <div class="alert alert-info margin-t20" role="alert">
      Your password has been changed!
      {{#link-to "authentication"}}
        Continue to login.
      {{/link-to}}
    </div>
  {{/if}}

  <div class="margin-t20">
    {{#link-to "authentication"}}
      Login
    {{/link-to}}
  </div>

</div>
