<div class="admin container">

  <h1>Rules</h1>

  <form class="form-inline search-form" {{action "search" query on="submit"}}>
    <div class="input-group">
      {{input type="text" class="form-control" placeholder="Search..." value=query}}
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>

    <span class="search-form-or">or</span>

    {{#link-to "admin.rules.new" class="btn btn-default"}}
      Create
    {{/link-to}}
  </form>

  {{rule-table rules=model deleteRule="deleteRule"}}

</div>
