<td>
  {{#each terms as |term|}}
    {{term}} <br />
  {{/each}}
</td>
<td>
  {{description}}
</td>
{{#if session.isAdmin}}
  <td class="text-nowrap">
    {{#link-to "admin.rules.rule" rule class="btn btn-primary btn-xs"}}Edit{{/link-to}}
    <button type="button" class="btn btn-danger btn-xs" {{action "delete"}}>Delete</button>
  </td>
{{/if}}
